Source: eventwatchd
Section: contrib/utils
Priority: extra
Maintainer: VyOS Maintainers <maintainers@vyos.net>
Build-Depends: debhelper (>= 5), autotools-dev, automake, autoconf
Standards-Version: 3.8.4

Package: eventwatchd
Architecture: all
Depends: bash (>= 3.1),
 libxml-simple-perl
Description: eventwatchd daemon and related scripts and documentation

